@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-textarea: #ffffff;
    --cor-corpo-pagina: #265073;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #485057;
    --gray-500: #343A40;
}

body {
    font-family: "Montserrat", sans-serif;;
    background-color: var(--cor-corpo-pagina);
}

.container {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 30px;
}

.esquerda {
    width: 60%;
    height: 100%;
    padding-top: 40px;
}

.logo-alura{
    filter: brightness(100);
}

.logo-alura:hover {
    height: 48px;
    margin-right: 100px;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

form {
    padding-top: 60px;
    padding-left: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 148px);
}

form textarea {
    width: 100%;
    border: none;
    font-family: "Inter";
    outline: none;
    color: var(--cor-textarea);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    background-color: transparent;
}

form textarea::placeholder {
    color: var(--cor-textarea);
}

button {
    width: 328px;
    height: 67px;
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    border: 1px solid var(--cor-textarea);
    border-radius: 24px;
    padding: 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
    outline: none;
}

.alerta {
    font-family: 'Inter';
    font-size: 12px;
    color: var(--cor-textarea);
    opacity: 0.8;
    margin: 0 0 16px 8px;
}

.alerta img {
    margin-bottom: -4px;
    filter: brightness(100);
}

.botoes {
    display: flex;
    gap: 20px;
}

button.bt-cripto {
    color: #FFFFFF;
}

.bt-cripto:hover{
    color: black;
}

.bt-descripto:hover {
    color: white;
}

button.bt-descripto {
    background-color: #D8DFE8;
    color: var(--cor-corpo-pagina);
}

button.bt-copiar {
    width: 100%;
    margin-top: 30px;
    background-color: var(--cor-corpo-pagina);
    color: var(--cor-textarea);
}

.direita {
    width: 40%;
    height: 680px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.521);
    border-radius: 32px;
    margin: 40px 40px 40px 100px;
    padding: 25px;
}

#texto-principal{
    background-color: rgba(140, 140, 141, 0.185);
    border-radius: 10px;
}

.texto-criptografado p {
    overflow: auto;
}

.sem-retorno img {
    margin: 150px 32px 0 32px;
}

.titulo-sem-retorno {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--gray-500);
    margin: 32px 32px 32px 16px;
}

.sem-retorno p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-400);
}

.texto-criptografado {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto-criptografado p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: left;
    color: var(--gray-400);
}

.d-none {
    display: none;
    pointer-events: none;
}

footer {
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(185, 196, 255, 0.466);
    padding: 40px 0;
    display: block;
    height: auto;
}

.logo-link {
    height: 70px;
    margin: 15px 5px 20px 5px;
}

.logo-link:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    color: black;
}
